//
//  Develop.xcconfig
//  AirQualityDashboard
//
//  Created by Eliot Williams on 11/1/16.
//  Copyright © 2017 Raizlabs. All rights reserved.
//

#include "AirQualityDashboard/Resources/xcconfig/Raizlabs-Account.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.raizlabs.AirQualityDashboard.develop
PRODUCT_NAME = develop-$(TARGET_NAME)
DEVELOPMENT_TEAM = xxxxxx // FIXME: Insert develop TEAM ID here

CODE_SIGN_IDENTITY_AirQualityDashboard = iPhone Distribution
PROVISIONING_PROFILE_AirQualityDashboard = xxxxxx // FIXME: Insert develop provisioning profile ID
// CODE_SIGN_ENTITLEMENTS = AirQualityDashboard/develop-AirQualityDashboard.entitlements // Enable to allow custom debug entitlements

FABRIC_API_KEY = $(INTERNAL_FABRIC_API_KEY)
FABRIC_BUILD_SECRET = $(INTERNAL_BUILD_SECRET)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = RZINTERNAL

// This file must be included last to properly resolve the offical Xcode variables.
#include "AirQualityDashboard/Resources/xcconfig/Global.xcconfig"
